h1, h2, h3, h4, h5, h5, h6 {
    font-family: var(--font-title);
    font-weight: 700 !important;
    color: var(--color-primary) !important;
}

p, a, span, div{
    font-family: var(--font-principal);
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

.section-title{
    color: var(--color-body);
    border-bottom: 2px solid var(--color-primary);
    line-height: .8em;
}
