<div class="container-fluid ptb--100" id="features-section-container">
  <div class="container">
    <h2>O que você encontra na RI Community?</h2>

    <div class="row ptb--50">
      <div class="col-12 col-md-6">
        <span class='fw-bold fs-4 text-black'>01</span>
        <h4 class='mb-4 mt-2'>Mentorias com especialistas</h4>
        <div class='divider'></div>
        <p>Quer saber como construir uma carreira internacional de sucesso? Aqui você encontra especialistas que já trilharam esse caminho e podem te orientar sobre os desafios, oportunidades e estratégias para trabalhar em organizações como Itamaraty, ONU, OMS e agências especializadas.</p>
      </div>
      <div class="col-12 col-md-6">
        <div class="box-image">
          <img src="mockup-1.png" alt="mockup" >
        </div>
      </div>
    </div>

    <div class="row ptb--50">
      <div class="col-12 col-md-6">
        <div class="box-image">
          <img src="mockup-2.png" alt="mockup" >
        </div>
      </div>
      <div class="col-12 col-md-6">
        <span class='fw-bold fs-4 text-black'>02</span>
        <h4 class='mb-4 mt-2'>Networking de verdade</h4>
        <div class='divider'></div>
        <p>A verdade é que ninguém cresce sozinho. Na RI Community, você participa de eventos exclusivos, tanto digitais quanto presenciais, onde pode conhecer profissionais influentes da área, ampliar sua rede de contatos e até mesmo descobrir oportunidades de emprego, estágio ou voluntariado antes de todo mundo.</p>
        <p>Oportunidade não aparece do nada. Você precisa estar no lugar certo. Aqui é o lugar certo.</p>
      </div>
    </div>

    <div class="row ptb--50">
      <div class="col-12 col-md-6">
        <span class='fw-bold fs-4 text-black'>03</span>
        <h4 class='mb-4 mt-2'>Notícias e tendências que realmente importam</h4>
        <div class='divider'></div>
        <p>O que está acontecendo agora no mundo da geopolítica, economia internacional e diplomacia?Com a RI Community, você recebe as principais notícias filtradas e analisadas por especialistas, garantindo que você não perca nada relevante para sua carreira.</p>
        <p>Menos desinformação, mais insights certeiros</p>
      </div>
      <div class="col-12 col-md-6">
        <div class="box-image">
          <img src="mockup-3.png" alt="mockup" >
        </div>
      </div>
    </div>

  </div>
</div>
