#features-section-container {
  h2{
    text-align: center;
  }

  .divider{
    width: 280px;
    border-bottom: 2px solid black;
    margin-bottom: 1.8em;
}

  .box-image{
    width: 460px;
    height: 280px;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
