<div class="container-fluid ptb--100" id="hero-section-container">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        <div class="box-logo mx-auto">
          <img src="ri-logo-wt.png" alt="logo" >
        </div>
        <p class="mb-0">Descubra a RI Community: </p>
        <h1 class="mb-4">O seu espaço exclusivo no universo das Relações Internacionais</h1>
        <p class="fs-4 fw-bold mb-5">Você já imaginou ter acesso direto a mentores que trabalham no Itamaraty, ONU, OMS e outras instituições de prestígio?</p>
        <p class="fw-light mb-5">Pois é exatamente isso que a RI Community oferece: um espaço digital onde você pode se conectar, aprender e crescer profissionalmente na área de Relações Internacionais e Geopolítica.</p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-6 mb-4 text-center text-md-end">
          <a href='https://ri-community.collaab.com.br/login' class="button-2">quero fazer parte</a>
      </div>

      <div class="col-12 col-md-6 text-md-start">
          <a href='#features-section-container' class="button-3">quero saber mais</a>
      </div>
    </div>

    <div class="row">
      <div class="col=2 mx-auto">
        <a href="#features-section-container">
          <div class="box-icon mx-auto">
            <img src="arrow-down.png" alt="icon" >
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
